.date-time-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(136, 177, 186, 0.761);
    padding: 10px;
    color: #f0f0f0;
  }
  
  .time {
    flex: 1;
    text-align: left;
    font-size: 24px;
  }
  
  .date {
    flex: 1;
    text-align: right;
    font-size: 24px;
  }
  