.date-time-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 250px;
    padding: 10px;
    color: #f0f0f0;
    z-index: 99999;
    top: 18px;
    position: fixed;
    box-shadow: inset 0 0 0 1000px rgba(223, 163, 211, 0.2);
    margin-left: 18px;
  }
  
  .time {
    flex: 1;
    text-align: left;
    font-size: 24px;
  }
  
  .date {
    flex: 1;
    text-align: right;
    font-size: 24px;
  }
  